altgraph==0.17.5
certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
packaging==26.2
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
requests==2.34.2
setuptools==82.0.1
shiboken6==6.11.1
urllib3==2.7.0
watchdog==6.0.0
